
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f9;
            color: #333;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #e63946;
            color: white;
            text-align: center;
            padding: 20px;
        }

        header img {
            width: 200px;
            height: auto;
            border-radius: 50%;
            border: 5px solid #fff;
            margin-top: 20px;
        }

        main {
            padding: 20px;
        }

        h1 {
            font-size: 2.5em;
            margin-bottom: 10px;
        }

        p {
            font-size: 1.1em;
            line-height: 1.6;
            margin-bottom: 15px;
        }

        button {
            background-color: #e63946;
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            font-size: 1.1em;
            border-radius: 5px;
        }

        button:hover {
            background-color: #f1faee;
            color: #e63946;
        }

        #moreInfo {
            display: none;
            margin-top: 20px;
            background-color: #f1faee;
            padding: 15px;
            border-radius: 5px;
        }

        /* Estilos para as duas imagens lado a lado */
        .image-container {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
        }

        .image-container img {
            width: 48%;  /* vai ocupar quase metade do espaço */
            height: 350px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        /* Estilos para o carrossel */
        .carossel-container {
            position: relative;
            max-width: 100%;
            margin: 30px auto;
            overflow: hidden;
            border-radius: 10px;
            background-color: #e63946;
        }

        .carossel-images {
            display: flex;
            transition: transform 0.5s ease;

        }

        .carossel-images img {
            width: 100%;
            height: 250px;
        }

        .carossel-button {
            position: absolute;
            top: 50%;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            border: none;
            padding: 15px;
            cursor: pointer;
            font-size: 2em;
            transform: translateY(-50%);
            z-index: 1;
        }

        .carossel-button-left {
            left: 0;
        }

        .carossel-button-right {
            right: 0;
        }
    